<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>{% block title %}SmartSchedule{% endblock %}</title>
	<base href="{% block htmlbase %}'SmartSchedule.com'{% endblock %}">
	<link rel='stylesheet' href='/static/css/style.css'>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<header>
		<img src="/static/img/logo2.png" alt="SmartSchedule">
		{% block headerlinks %}
		<a href=''>Log In</a> <!-- TO DO: Update login link -->
		{% endblock %}
	</header>
	
	{% block nav %}{% endblock %}

	<div class='main'>
		{% block mainbody %}
			Site body goes here
		{% endblock mainbody %}
	</div>
	
</body>