{% extends "base-site.html" %}

{% block title %}Company Base{% endblock %}

{% block htmlbase %}'SmartSchedule.com'{% endblock %}

{% block headerlinks %}
	<a href=''>Log Out</a> <!-- TO DO: Update this link to return to homepage -->
{% endblock %}

{% block nav %}
	<nav>
		<a href=''>Manage Employees</a> | <!-- TO DO: Update these links -->
		<a href=''>Create Schecdule</a> |
		<a href=''>View Schedule</a>
	</nav>
{% endblock %}

{% block mainbody %}
	block mainbody not overriden
{% endblock %}
