{% extends 'base-site.html' %}

{% block title %}Sign Up As a Company{% endblock %}

{% block mainbody %}
<h1>Get your business started!</h1>
<form>
	Email:<br/>
	<input type='text' name='username'><br/>
	Company Name:<br/>
	<input type='text' name='name'><br/>
	Location:<br/>
	<input type='text' name='location'><br/>
	Password:<br/>
	<input type='password' name='password'><br/>
	Confirm Password:<br/>
	<input type='password' name='confirm-password'><br/>
	<br/>
	<input type='submit' value = 'sign up' class='link'></input>
</form>
{% endblock %}
