<!DOCTYPE html>
{% load static %}

<head>

<title>Schedule</title>
<base href="homepage.html">
<link rel='stylesheet' href='/static/css/style.css'>
<!-- <link rel="stylesheet" href="{% static '/css/style.css' %}"> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<header>
	<img src="/static/img/logo2.png" alt="SmartSchedule">
	<a href=''>Log Out</a> <!-- TODO: Update this link -->
</header>

<div class='header2'>
	<a href='{% url 'avail' %}'>My Availability</a>  |
	<a href=''>My Shifts</a>  |
	<a href=''>Schedule</a>
</div>

<div class='main'>



</div>
</body>
</html>
